/*=====================
    Global Styling
=======================
*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#3c2a21;
    --seconadry-color:#f5ebe0;
    --tertiary-color:#b1b1b151;
    --standard-color:#fff8f6;
    --button-hover:#783c1e;

    --font-weight-main:800;
    ---font-weight-minor:500;
    --font-heading:"Inter",serif;
    --font-text:'Poppins',serif;
    --font-logo:"Cormorant Garamond", Garamond, "Times New Roman", serif;
}

body{
    font-family: var(--font-heading);
    line-height: 1.6;
    background-color: var(--standard-color);
    -webkit-font-smoothing: antialiased;
    display: grid;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

button{
    border: none;
    align-items: center;
    padding: .4rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--standard-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading);
    font-weight: var(---font-weight-minor);
    cursor: pointer;
}

h1,h2,h3{
    font-family: var(--font-heading);
    font-weight: var(---font-weight-main);
    color: var(--primary-color);
}
h4,h4,h6{
    font-family: var(--font-heading);
    font-family: var(---font-weight-minor);
    font-size: 1.3rem;
    color: var(--primary-color);
}

a{
    color: var(--text-color);
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

main{
    flex: 1;
}

ul{
    list-style: none;
}


/*========================
   Index styling
=========================*/

/* navgation-section */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #cebca9f4;
    height: 85px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    gap: .3rem;
}
.logo img{
    width: 4rem;
}
.logo a{
    font-family: var(--font-logo);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 700;
    color: var(--primary-color);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.nav-items a{
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-weight: var(---font-weight-minor);
    position: relative;
}
.nav-items a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: center;
    transition: transform .3s ease;
    transform: scaleX(0);
}
.nav-items a:hover::after{
    transform: scaleX(1);    
}
.cart{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    gap: 15px;
    margin-right: 1.5rem;
}
.cart img{
    width: 1.4rem;
}

/*hero section*/
.index-section{
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow-wrapper{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}
.slide{
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active{
    opacity: 1;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    background-color:#615d5bc3 ;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1.5rem;
}
.hero-content span{
    background-color: #fff9f04b;
    padding: 0 1rem;
    border-radius: 12px;
}
.hero-content h1{
    font-weight: 700;
    color: var(--seconadry-color);
    font-size: 2.3rem;
    margin-bottom: 15px;
}
.hero-content p{
    font-weight:600;
    font-size: 1.1rem;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.hero-btn a{
    border-radius: 20px;
    transition: background-color .4s ease;
    margin-top: 1rem;
    font-weight: 600;
    background-color:  #fff9f04b;
    padding: .1rem 1rem; 
}
.hero-btn a:hover{
    background-color: var(--button-hover);
    color: var(--seconadry-color);
}


/*seasonal selection*/
.seasonal-section{
    background-color: var(--seconadry-color);
    padding: 8rem 8vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.seasonal-heading h1{
    font-weight: 600;
    font-size: 2.1rem;
    color: var(--primary-color);
}
.seasonal-heading p{
    font-family: var(--font-heading);
    font-weight: var(---font-weight-minor);
    color: var(--primary-color);
    opacity: .7;
}
.seasonal-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}
.seasonal-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: .8rem;
    width: 100%;
}
.seasonal-card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .5rem;
}
.seasonal-card-wrapper img{
    object-fit: cover;
    object-position: center;
    max-width: 25rem;
    max-height: 24.5rem;
    transition: transform .5s ease-out;
}
.seasonal-card-wrapper img:hover{
    transform: scale(1.05);
}
.seasonal-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.seasonal-content strong{
    background-color: #5d5c5c4c;
    padding: 0 .5rem;
    font-family: var(--font-text);
    font-size: .95rem;
    font-weight: 450;
    border-radius: 12rem;
}
.seasonal-card span{
    font-weight: 600;
    
}
.blend-container{
    position: absolute;
    background-color: var(--standard-color);
    overflow: hidden;
    display: flex;
    border:none;
    bottom: 5.5rem;
    left: .2rem;
    border-bottom-right-radius: .8rem;
}
.blend-container span{
    padding: 1rem ;
    opacity: .8;
}

/*subscription link*/
.brand-section{
    background-color: var(--standard-color);
    padding: 8rem 8rem 4rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
    width: 100%;
}
.brand-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.brand-img img{
    max-width: 30rem;
    object-fit: cover;
}
.brand-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}
.brand-container h2{
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--primary-color);
    margin-bottom: 1.3rem;
}
.brand-container p{
    color: var(--primary-color);
    font-weight: 500;
    opacity: .9;
    font-family: var(--font-text);
}
.brand-content{
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    padding: 2.3rem 0;
}
.sub-offers{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.sub-offers img{
    width: 2.3rem;
}
.delivery-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.delivery-text span{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins",serif;
    opacity: .9;
}
.brand-container a{
    background-color: var(--primary-color);
    width: 100%;
    max-width: 12rem;
    text-align: center;
    color: var(--seconadry-color);
    padding: .6rem;
    font-size: .9rem;
    font-weight: 600;
    transition: background-color .4s ease;
    cursor: pointer;
    border-radius: 18rem;
}
.brand-section a:hover{
    background-color: var(--button-hover);
}

/*index footer*/
.index-footer-section{
    background-color: var(--seconadry-color);
    padding: 5.5rem 8vw 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index-footer-imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    width: 100%;
    height: 100%;
    gap: .5rem;
}
.index-footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3rem;
}
.index-footer h1{
    font-weight: 700;
    text-align: center ;
    color: var(--primary-color);
}
.index-footer p{
    font-weight: 500;
    opacity: .9;
    color: var(--primary-color);
}

.index-footer-imgs img{
    max-width: 100%;
    max-height:100%; 
    object-fit: cover;
    border-radius: 18px;
}

/*Main footer section*/
.footer-wrapper{
    padding: 0 8vw 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.index-footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}
.index-footer-content h2{
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.3rem;
}
.bean{
    margin-left: 1rem;
}
.index-footer-content p{
    color: var(--primary-color);
    opacity: .9;
    text-align: start;
}
.footer-connect{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.footer-connect img{
    width: 2rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    justify-content: center;
}
.footer-links a{
    color: var(--primary-color);
    font-weight: 500;
    transition: transform .4s ease;
}
.footer-links a:hover{
    transform: translateY(-4px);
    color: #783c1e;
}
.map{
    width: 100%;
    max-width: 100%;
    height: 250px;
    border: 0;
}
.index-main-footer{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}
.index-main-footer p{
    text-align: start;
    padding: 1rem;
}


/*popup modal*/
.popup-modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    display: flex;
    background-color: var(--standard-color);
    width: 90%;
    max-width: 760px;
    gap: .5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
.modal-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.modal-details h6{
    font-size: 1.3rem;
    font-weight: 700;
    padding:2rem 0 0;
    opacity: .9;
}
.modal-content img{
    width: 25rem;
    height: 23rem;
    object-fit: cover;
}
.modal-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-input p{
    font-size: .9rem;  
    padding: 1.5rem;  
    font-weight: 600;
    opacity: .8;
}
.modal-input input{
    width: 100%;
    max-width: 14rem;
    padding: .2rem .9vw;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 1rem;
    outline: none;
}
.modal-input button{
    transition: background-color .4s ease;
    border-radius: 12px;
}
.modal-input button:hover{
    background-color: var(--button-hover);
}
.close-modal{
    position: absolute;
    top:130px;
    font-size: 1.7rem;
    font-weight: bold;
    right: 290px;
    color: #faf9f9;
    cursor: pointer;
}
.close-modal:hover{
    color: var(--button-hover);
}

/*mobile responsiveness*/
.menu-toggle,
.hamburger{
    display: none;
}
@media(max-width: 768px){
    .menu-toggle:checked ~ nav{
        display: block;
    }
    .hamburger{
        font-size: 1.7rem;
        color: var(--primary-color);
        cursor: pointer;
        user-select: none;
        display: block;
        
    }
    .logo img{
        width: 2rem;
    }
    .logo span{
        font-size: .9rem;
    }
    nav{
        z-index: 99;
        background-color: var(--seconadry-color);
        width: 100%;
        top: 85%;
        left: 0;
        position: relative;
        display: none;
    }
    .nav-links{
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 1rem 0;
    }
    .nav-items a{
        display: block;
        padding: 1.2rem 1.9rem;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    }
    .nav-items{
        width: 100%;
    }
    .nav-items a::after{
        display: none;
    }
    .nav-items a:hover{
        background-color: rgba(0, 0, 0, 0.03);
    }
   
    .index-section{
        padding: 0 1rem;
        min-height: 65vh;
    }
    .hero-content{
        width: 95%;
        height: 382px;
        padding: .2rem 1.5rem;
    }
    .hero-content h1{
        font-size: 1.5rem;
    }
    .hero-content p{
        font-size: 1rem;
    }
    .hero-btn{
        width: 100%;
        flex-direction: column;
        gap: .8rem;
    }
    .hero-btn button{
        padding: .7rem;
        width: 100%;
        margin-top:.6rem ;
    }

    .seasonal-section{
        padding: 4.8rem 5vw;
    }
    .seasonal-heading h1{
        font-size: 1.3rem;
    }
    .seasonal-heading span{
        font-size: .9rem;
    }
    .seasonal-card-wrapper{
        grid-template-columns: 1fr;
    }
    .seasonal-card-wrapper img{
        width: 100%;
        max-width: 100%;
    }
    .brand-section{
        padding: 4rem 1.3rem;
        flex-direction: column;
    }
    .brand-container{
        align-items: center;
    }
    .brand-container h2{
        font-size: 1.3rem;
        text-align: center;
    }
    .sub-offers{
        gap: .4rem;
        flex-direction: column;
    }
    .delivery-text{
        text-align: center;
        align-items: center;
    }

    .index-footer-section{
        padding: 1rem 2.5rem;
    }
    .index-footer h1{
        font-size: 1.4rem;
    }
    .index-footer p{
        font-size: .9rem;
        text-align: center;
    }
    .index-footer-imgs{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-wrapper{
        grid-template-columns: 1fr;
        margin-top: 3rem;
        padding: 0 5vw 3rem;
        margin-left: 1rem;
    }
    .index-footer-content{
        padding: 0 6vw;
    }
    .map-div{
        padding: 0 5vw;
    }
    .map-div h2{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .map{
        height: 200px;
    }
    .modal-content{
        flex-direction: column;
        width: 300px;
    }
    .modal-content img{
        width: 100%;
        height: 150px;
    }
    .modal-details{
        padding: 18px 14px;
        width: 100%;
    }
    .modal-details h2{
        font-size: 1.29rem;
    }
    .close-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
    }

}






/**
========================
Subscritpions styling
========================
*/

/*subscrption content*/
.subscription-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 2.9rem 8vw; 
}
.subscription-heading h1{
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-weight: 700;
    opacity: .9;
}
.subscription-heading p{
    font-family: var(--font-text);
    color: var(--primary-color);
    font-weight: 500;
    opacity: .8;  
    text-align: center; 
}
.subscription-heading button{
    padding: .5rem 2rem;
    margin-top: .5rem;
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--seconadry-color);
    border-radius: 12rem;
    cursor: pointer;
    transition: background-color .4s ease;
}
.subscription-heading button:hover{
    background-color: var(--button-hover);
}

/*promotion offers section*/
.subscription-collection{
    margin-top: 3rem;
    background-color: var(--tertiary-color);
    padding: 3rem 6vw 2rem;
}
.subscription-collection h2{
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: .5rem;
    text-align: center;
}
.subscription-wrapper{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 2.5rem;
}
.offer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 480px;
    overflow: hidden;
    background-color: var(--standard-color);
    gap: 2rem;
    margin-top: 1.5rem;
    padding: .9rem;
    border-radius: 10px;
}
.offer-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.offer-card-content{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.offer-card-badge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 0 .6rem;
    border-radius: 12px;
}
.offer-card-badge span{
    color: var(--primary-color);
    font-weight: 500;
    font-family: var(--font-text);
    font-style: italic;
}
.offer-card-content p{
    font-family: var(--font-text);
    color: var(--primary-color);
    font-weight: 500;
    opacity: .8;  
    text-align: center; 
    flex:1;
}
.offer-card button{
    padding: .5rem 4.5vw;
    margin-top: .5rem;
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--seconadry-color);
    border-radius: 12rem;
    cursor: pointer;
    transition: background-color .4s ease; 
}
.offer-card button:hover{
    background-color: var(--button-hover);
}
.offer-card h2{
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: .5rem;
    text-align: center;
}
.offer-card-badge-tip{
    display: flex;
    gap: .9rem;

}
.span-badge{
    color: var(--standard-color);
    font-weight: 600;
    font-family: var(--font-text);
    font-style: italic;
    background-color: var(--tertiary-color);
    padding: 0 3vw;
    border-radius: 12px;  
}
.offer-card.special{
    background-color: var(--primary-color);
}
.offer-card.special p{
    color: var(--standard-color);
    font-weight: 600;
}
.offer-card.special h2{
    color: var(--standard-color);
    font-weight: 700;
}
.offer-card.special button{
    background-color: var(--standard-color);
    color: #1a1a1a;

    transition: background-color .4s ease; 
}
.offer-card.special button:hover{
    background-color: #b69876;
}

/*subscritpion offers*/
.subscription-offer-section{
    background-color: var(--standard-color);
    padding: 3rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    align-self: start;
    margin-top: 2.8rem;
}
.subscription-offer-heading h2{
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
}
.subscription-offer-heading p{
    font-family: var(--font-text);
    color: var(--primary-color);
    font-weight: 600;
    opacity: .8;  
    text-align: center;
    margin-top: .8rem;
}
.subscription-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
}
.subscription-card{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-width: 18rem;
    border-radius: 12px;
    padding: 1rem 1.6rem 1.3rem;
    background-color:  var(--seconadry-color);
    box-shadow: 0 3px 12px rgba(0,0,0,0.3);
    transition: transform .4s ease;
}
.subscription-card:hover{
    transform: translateY(-2px);
}
.subscription-card.standard{
    border: 2px solid var(--button-hover);
}
.subscription-card h3{
    font-family: var(--font-heading);
    color: var(--button-hover);
    font-weight: 700;
    font-size: 1.2rem;
    opacity: .8;
    font-style: italic;
    margin-bottom: 0;   
}
.sub-price{
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
    gap: .2rem;
}
.sub-price strong{
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 700;
}
.sub-price span{
    font-size: .8rem;
    font-weight: 500;
    opacity: .7;
}
.subscription-offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1.8rem;
}
.sub-content{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.sub-content img{
    width: .9rem;
}
.sub-content p{
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 1rem;
    opacity: .9;
}
.subscribe-btn{
    display: flex;
    margin-bottom: auto;
    width: 100%;
}
.subscribe-btn button{
    padding: .4rem;
    width: 100%;
    font-family: var(--font-heading);
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    font-size: .9rem;
    background-color: var(--primary-color);
    transition: background-color .4s ease;
}
.subscribe-btn button:hover{
    background-color: var(--button-hover);
}

/*offers footer*/
.offer-footer{
    display: flex;
    align-items: center;
    padding: 6rem;
    margin-top: 2rem;
    gap: 2.5rem;
    background-color: var(--tertiary-color);
}
.offer-footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
.offer-footer-wrapper img{
    width: 2rem;
    margin-bottom: 1rem;
}
.offer-footer-wrapper h2{
    font-family: var(--font-heading);
    font-weight: 700;
}
.offer-footer-wrapper p{
    text-align: center;
    font-family: var(--font-text);
    font-size: .95rem;
    font-weight: 500;
    opacity: .9;
}

/*subscription form*/
.subscribe-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem;
    gap: 3rem;
    height: 80vh;
    margin-top: 4rem;
}
.subscribe-form h3{
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-bottom: .5rem;
    text-align: center;
}
.subscribe-form-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.3rem auto;
    gap: .8rem;
}
.subscribe-form-btn input{
    border: .4px solid var(--primary-color);
    width: 30rem;
    padding: .6rem;
    outline: none;
    border-radius: 18px;
}
.subscribe-form-btn button{
    padding: .5rem 6vw;
    font-weight: 700;
    font-family: var(--font-heading);
    cursor: pointer;
    border-radius: 9px;
    transition: background-color .4s ease;
}
.subscribe-form-btn button:hover{
    background-color: var(--button-hover);
}

/*Faq*/
.subscription-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: var(--tertiary-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.faq-details{
    border-bottom: 1px solid var(--primary-color);
    transition: background-color .4s ease;
}
.faq-details:last-of-type{
    border-bottom: none;
}
summary{
    font-weight: 600;
    font-family: var(--primary-color);
    opacity: .9;
}
.faq-details summary{
    list-style-type: none;
    padding: 1.2rem .5rem;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    transition: color .3s ease, padding-left .2s ease;
}
.faq-details summary::after{
    color: var(--button-hover);
    transition: transform .2s ease;
    content: "*";
    font-size: 1.1rem;
}
.faq-details summary:hover{
    color: var(--primary-color);
    padding-left: .7rem;
}
.faq-text{
    color: var(--primary-color);
    font-style: italic;
    font-weight: 500;
    opacity: .8;
}

/*mobile responsiveness*/
@media(max-width:768px){
    .subscription-heading{
        text-align: center;
    }
    .subscription-collection h2{
        font-size: 1.2rem;
        padding: 0 5vw 5vw;
    }
    .subscription-wrapper{
        flex-direction: column;
    }
    .offer-card{
        width: 100%;
        height: auto;
    }
    .offer-card img{
        height: 14rem;
    }
    .offer-card-badge{
        flex-direction: column;
    }
    .offer-card-badge-1{
        flex-direction: column;
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    .subscription-offer-heading h2{
        font-size: 1.4rem;
    }
     .subscription-offer-heading p{
        font-size: .9rem;
    }
    .offer-footer{
        flex-direction: column;
        padding: 2.5rem 5vw;
    }
    .subscribe-form{
        padding: 5rem 5vw;
        flex-direction: column;
        min-height: 140vh;
        width: 100%;
    }
    .subscribe-form-content{
        width: 100%;
        text-align: center;
    }
     .subscribe-form-content h3{
        font-size: 1.4rem;
    }
     .subscribe-form-content p{
        font-size: .9rem;
    }
     .subscribe-form-btn input{
        width: 100%;
    }
}






/*===================
    equipment style
======================*/
.equipment-hero-card{ 
    display: flex;
    flex-direction: column;
    padding: 5rem 8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}
.equipment-hero-card h1{
    font-weight: 600;
    color: var(--primary-color);
    opacity: .9;
}
.equipment-hero-card p{
    font-weight: 500;
    color: var(--primary-color);
    opacity: .9;
}
.equipment-btn{
    margin-top: 2rem;
}
.equipment-btn button{
    padding: .6rem 1vw;
    border-radius: 12rem;
    font-weight: 500;
    font-family: var(--font-heading);
    transition: background-color .4s ease;
    cursor: pointer;
}
.equipment-btn button:hover{
    background-color: var(--button-hover);
}


/*equipment section*/
.equipment-section{
    padding: 4rem 8vw;
    background-color: var(--tertiary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}
.equipment-collection{
    display: flex;
    flex-direction: column;  
}
.equipment-collection h2{
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: .4rem;
}
.equipment-collection span{
    font-weight: 500;
    opacity: .8;
    font-style: italic;
}
.equipment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.equipment-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    background-color: var(--standard-color);
    padding: 0.1rem .1rem 0;
    border-radius: 14px;
}
.equipment-card img{
    max-width: 25rem;
    max-height: 22.8rem;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
.equipment-card button{
    padding: .6rem;
    font-weight: 700;
    transition: background-color .4s;
}
.equipment-card button:hover{
    background-color: var(--button-hover);
}
.equipment-content{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.equipment-content span{
    font-weight: var(---font-weight-minor);
    opacity: .8;
    font-style: italic;
    color: var(--primary-color);
    flex: 1;
    text-align: center;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--seconadry-color);
    margin-left:.6rem ;
    margin-right: .6rem;
    padding: 0 .9vw;
    border-radius: 12px;
}
.price h3, strong{
    color: var(--primary-color);
    font-weight: 650;
}

/*equipment tips section*/
.equipement-tips-section{
    display: flex;
    flex-direction: column;
    padding: 6.5rem 8vw;
    min-height: 80vh;
    gap: 1rem;
    align-items: center;
}
.equipement-tips-section h1{
    font-weight: 700;
    color: var(--primary-color);
    opacity: .9;
}
.equipement-tips-section span{
    font-weight: 600;
    color: var(--primary-color);
    opacity: 1;   
}
.tips-container{
    display: flex;
    gap: 2.3rem;
    justify-content: center;
    margin-top: 2.3rem;
}
.tip-card{
    width: 100%;
    max-width: 450px;
    text-align: start;
}
.tip-card img{
    width: 2.4rem;
}
.tip-text h3{
    font-weight: 700;
    font-family: "Salina",serif;
    color: #000000;
    margin-bottom: .7rem;
}
.tip-text p{
     font-weight: 500;
    font-family: "Salina",serif;
    color: var(--primary-color);
    margin-bottom: .7rem;
    opacity: .9;
}
.separator{
    border: 2px solid var(--tertiary-color);
}
.pro-tip{
    background-color: var(--seconadry-color);
    padding: .6rem 1.2vw;
    border-radius: 12px;
}

/*equipment-footer*/
.equipement-footer-section{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding:4rem 6vw 4rem;
    min-height: 50vh;
}
.equipment-footer{
    padding: 2rem 5vw 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/*mobile responsiveness*/
@media(max-width:768px){
    .equipment-hero-card h1{
        font-size: 1.5rem;
    }
    .equipment-hero-card p{
        font-size: .9rem;
    }
    .equipment-section{
        padding: 2rem 5vw;
        text-align: center;
    }
    .equipment-collection h2{
        font-size: 1.3rem;
        align-items: center;
        text-align: center;
    }
    .equipment-collection span{
        font-size: .9rem;
    }
    .equipment-container{
        padding: 0 5vw;
        flex-direction: column;
    }
    .equipment-card img{
        height: 16.5rem;
    }
    .price{
        flex-direction: column;
    }.equipement-tips-section{
        flex-direction: column;
        align-items: center;
    }
    .equipement-tips-section h1{
        font-size: 1.5rem;
    }
    .equipement-tips-section span{
        font-size: .9rem;
        text-align: center;
    }
    .tips-container{
        flex-direction: column;
        padding: 1.5rem 5vw;
    }

}





/*=====================
    Coffee styling
======================*/
.coffee-hero-section{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding: 8rem 6vw;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}
.coffee-hero-section h1{
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--primary-color);
    text-align: center;
}
.coffee-promotion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 65rem;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.coffee-promotion img{
    max-height: 20rem;
    max-width: 550px;
    object-fit: cover;
    object-position: center;
}
.coffee-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.coffee-content p{
    color: aliceblue;
    padding: 0 2rem;
    text-align: start;
    font-weight: 500;
    line-height: 1.8;
}
.coffee-badge{
    display: flex;
    gap: 1rem;
    margin-left: .7rem;
    align-items: center;
}
.coffee-badge span{
    background-color: var(--tertiary-color);
    padding: .1rem 2.4rem;
    border-radius: 12rem;
    color: aliceblue;
    font-style: italic;
}
.coffee-promotion button{
    background-color: var(--seconadry-color);
    color: var(--primary-color);
    width: 20rem;
    margin-left: 2rem;
    padding: .8rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12rem;
    transition: background-color .4s ease;
}
.coffee-promotion  button:hover{
    background-color: #b69876;
}

/*coffee collection*/
.coffee-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 6vw;
    gap: 2rem;
    min-height: 100vh;
}
.coffee-category{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.coffee-category span{
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 600;
}
.coffee-category input{
    padding: .7rem 10vw;
    width: 100%;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 18px;
}
.coffee-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    padding: 1rem;
}
.coffee-card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    border-radius: 12px;
    background-color: var(--seconadry-color);
    border: 1px solid var(--primary-color);
} 
.coffee-card img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}
.coffee-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;margin-top: .3rem;
    margin-left: .6rem;
    margin-right: .6rem;
}
.coffee-price h2, strong{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1rem;
}
.coffee-card p{
    color: var(--primary-color);
    font-weight: 600;
    opacity: .8;
    line-height: 1.7;
    text-align: start;
    padding: .6rem;
    text-align: center;
    font-size: .9rem;
}
.taste{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
    padding:0 .5rem .8rem
}
.taste img{
    width: .9rem;
}
.taste strong{
    font-weight: 750;
}
.taste span{
    font-style: italic;
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.7;
    opacity: .8;
}
/*suscription link*/
.subscription-link{
    background-color: var(--standard-color);
    padding: 10rem 6vw;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.subscription-email{
    background-color: var(--seconadry-color);
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.subscription-email h2{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-align: center;
}
.subscription-email p{
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    opacity: .9;
    line-height: 1.7;
}
.subscription-input{
    display: flex;
    gap: .5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.subscription-input input{
    padding: .5rem;
    outline: none;
    width: 400px;
    border-radius: 12px;
    border: 1px solid var(--button-hover);
}
.subscription-input button{
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: 12px;
    transition: background-color .4s ease;
}
.subscription-input button:hover{
    background-color: var(--button-hover);
}

/*mobile responsiveness*/
@media(max-width:480px){
    .coffee-hero-section{
        padding: 5rem 5vw 2rem;
    }
    .coffee-hero-section h1{
        font-size: 1.8rem;
    }
    .coffee-promotion{
        width: 100%;
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }
    .coffee-content{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: .3rem;
    }
    .coffee-content p{
        font-size: .9rem;
        padding: 0 1.5rem;
    }
    .coffee-collection{
        padding: 2rem 4vw;
    }
    .coffee-container{
        flex-direction: column;
        padding: 0 2vw;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .coffee-card{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .coffee-card img{
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    .coffee-price{
        flex-direction: column;
    }


    .subscription-link{
        padding: 5rem 4vw;
    }
    .subscription-email{
        width: 100%;
        padding: 2rem 6.5vw;
    }
    .subscription-email h2{
        font-size: 1.5rem;
    }
    .subscription-email p{
        font-size: .9rem;
    }
    .subscription-input{
        flex-direction: column;
    }
    .subscription-input input{
        width: 100%;
        box-sizing: border-box;
    }
  
    .equipment-footer-section{
        padding: 4rem 6vw 3rem;
    }
    .equipment-footer{
        grid-template-columns: 1fr;
    }

}






/*=====================
    EVENTS STYLING
======================*/
.events-heading-section{
    background-color: var(--standard-color);
    padding: 3rem 6vw;
    display: flex;
    justify-content: center;
}
.event-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    gap: 1rem;
}
.event-title h1{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.9rem;
    text-align: center;
}
.event-title p{
    line-height: 1.8;
    font-weight: 600;
    opacity: .9;
    color: var(--primary-color);
    text-align: center;
}

/*events section*/
.events-flex-heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 8vw;
    min-height: 100vh;
}
.events-flex-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events-flex-title h3{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.3rem;
}
.events-flex-title span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    opacity: .8;
}
.events-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding-top: 4rem;
}
.events-details-card{
    background-color: var(--seconadry-color);
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 55rem;
    gap: .5rem;
    align-items: center;
    padding: 1.1rem 2vw;
    border: 1px solid var(--button-hover);
    transition: box-shadow .4s ease;
}
.events-details-card:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.events-details-card span{
    background-color: #77b97774;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0rem 1rem;
    border-radius: 12px;
}
.events-details-card h2{
    margin-bottom: .8rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.25rem;
}
.events-details-card p{
    color: var(--primary-color);
    font-weight: 700;
    text-align: start;
    opacity: .7;
}
.event-schedule{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .8rem 0 0;
    gap:.5rem;
}
.event-schedule img{
    width: 1.2rem;
}
.event-price{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.event-price strong{
    font-style: italic;
}
.event-price button{
    padding:.3rem 4rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 12px;
    transition: background-color .4s ease;
}
.event-price button:hover{
    background-color: var(--button-hover);
}



/*event form section*/
.event-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;   
    padding: 2rem 8vw;
    background-color: var(--seconadry-color);
}
.event-form-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.event-form-heading h3{
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2rem;
}
.event-form-heading p{
    font-weight: 500;
    color: var(--primary-color);
    opacity: 1;
}
.event-form-container{
    background-color: var(--standard-color);
    padding: 3rem 2vw 3rem;
    margin: 0.3rem 0 6rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.event-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.event-input-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.event-input{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
}
.label{
    margin-left: .5rem ;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.05rem;
    opacity: 1;
}
.event-input input{
    width: 27vw;
    padding: .6rem 1rem;
    text-align: left;
    outline: none;
    border: .6px solid var(--button-hover);
    box-sizing: border-box;
    transition: background-color .4s ease;
    border-radius:16px ;
}
.event-input input:focus{
    border-color: var(--secondary-color);
}
.event-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:.2rem
}

.selection-column{
    width: 55.2vw;
    padding: .6rem 1rem;
    text-align: left;
    outline: none;
    border: .6px solid var(--button-hover);
    box-sizing: border-box;
    transition: background-color .4s ease;
    border-radius: 16px;
}
.event-signup-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.4rem;
    width: 100%;
    margin-top: 1.4rem;
}
.event-signup-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    max-width: 29rem;
    border-radius: 18px;
    padding: 1rem 2rem;
}
.event-signup-btn button:hover{
    background-color: var(--button-hover);
}
.event-signup-btn p{
    color: #3c2a21;
    font-weight: 500;
    font-size: .7rem;
}

/*mobile responsiveness*/
@media(max-width: 768px){
    .event-title{
        padding: 2rem 5vw ; 
    }
    .event-title h1{
        font-size: 1rem;
    }
    .event-title p{
        font-size: .9rem;
        text-align: start;
    }
    .events-flex-title{
        flex-direction: column;
        padding: 0 2vw;
    }
    .events-flex-title h3{
        font-size: 1.1rem;
    }
    .events-flex-title span{
        font-size: .7rem;
    }
    .events-flex{
        grid-template-columns: 1fr;
        padding: 0 5vw;
    }
    .events-details-card{
        width: 100%;
        max-height: 30rem;
        flex-direction: column;
        text-align: center;
    }
    .events-details-card span{
        font-size: .75rem;
        font-style: italic;
    }
    .events-details-card h3{
        font-size: 1.3rem;
    }
    .events-details-card p{
        font-size: .9rem;
        text-align: start;
    }
    .event-schedule{
        flex-direction: column;
    }
    .event-form-section{
        padding: 2rem 5vw 3rem;
    }
    .event-form-heading h3{
        font-size: 1.5rem;
    }
    .event-form-heading p{
        font-size: .9rem;
        text-align: center;
    }
    .event-form-container{
        padding: 1.5rem 6vw;
    }
    .event-input-section{
        flex-direction: column;
        width: 100%;
    }
    .event-input, .event-selection{
        align-items: center;
    }
    .event-input input{
        width: 100%;
    }
    .event-selection select{
        width: 100%;
    }
    .event-signup-btn button{
        width: 100%;
        max-width: 12rem;
    }
    .event-signup-btn p{
        text-align: center;
    }

}


/*======================
    Cart page css
========================
*/
.cart-container{
    padding: 5rem 8vw;
    background-color: var(--seconadry-color);
}
.cart-heading{
    padding: 2rem 0;
}
.cart-heading h1{
    font-weight: 700;
    font-size: 2rem;
}
.cart-heading p{
    font-size: 1.1rem;
    opacity: .8;
}

/*cart items section*/
.cart-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4rem;
}
.cart-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
}
.cart-card{
    display: flex;
    background-color: var(--standard-color);
    align-items: center;
    padding: 1rem ;
    border-radius: 14px;
    border: 1px solid transparent;
    transition: all .4s ease-out;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    
}
.cart-card:hover{
    border: 1px solid var(--button-hover);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.cart-card img{
    width: 8rem;
    height: 8rem;
    max-height: 10rem;
    object-fit: cover;
    background-color: var(--standard-color);
}
.cart-details{
    display: flex;
    gap: 1rem;
    padding: .5rem;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
}
.cart-title{
    font-size: 1rem;
}
.cart-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.cart-tags{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .8rem 0;
    flex-wrap: wrap;
}
.cart-tags span{
    background-color: var(--tertiary-color);
    padding: 0 1vw;
    border-radius: .5rem;
}
.cart-price{
    font-weight: 700;
    opacity: .7;
    margin-right: 2rem;
}
.cart-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.cart-quantity{
    display: flex;
    align-items: center;
    gap: .5rem;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid var(--tertiary-color);
}
.cart-quantity button{
    background-color: var(--standard-color);
    transition: background-color .6s ease;
}
.cart-quantity button:hover{
    background-color: var(--tertiary-color);
}
.cart-quantity span{
    padding: 0 2px;
}
.minus-btn span, .plus-btn span{
    color: var(--primary-color);
    font-size: 1rem;
}
.remove-btn{
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-content: center;
    background: none;
}
.remove-btn span{
    font-size: 1rem;
    text-align: right;
    color: var(--primary-color);
    transition: color .3s ease;
}
.remove-btn span:hover{
    color: #c01919;
}
.remove-btn img{
    width: 1.3rem;
    height: 1.2rem;
}
.continue-shopping{
   color: var(--primary-color);
   transition: background-color .4s ease;
   margin-left: 1rem;
   width: 10rem;
   border-radius: 12px;
}
.continue-shopping:hover{
    color: var(--button-hover);
}

/*side-bar section*/
.sidebar-wrapper{
    padding: 24px;
    position: sticky;
    background-color: var(--tertiary-color);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar-wrapper h2{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.sidebar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-row span{
    font-weight: 700;
    font-size: 1.1rem;
    opacity: .7;
}
.sidebar-btn{
    border-radius: 12px;
    transition: background-color .4s ease;
}
.sidebar-btn:hover{
    background-color: var(--button-hover);
}
.sidebar-separator{
    opacity: .3;
}
.sidebar-row h2{
    font-weight: 600;
    opacity: .9;
}
.sidebar-security{
    background-color: var(--standard-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .3rem;
    padding: .6rem .6rem;
    border-radius: 12px;
}
.security-details{
    display: flex;
    align-items: center;
    gap: .8rem;
}
.security-details img{
    width: 1.4rem;
}
.security-text span{
    font-weight: 700;
    font-size: 1rem;
    opacity: .8;
}
.security-text p{
    font-weight: 500;
    font-size: .8rem;
    opacity: .7;
}

/*media responseviness*/
@media screen and (max-width:900px){
    .cart-grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 560px){
    .cart-heading h1{
        text-align: center;
        font-size: 1.65rem;
    }
    .cart-heading p{
        text-align: center;
        font-size: 1rem;
    }
    .cart-card{
        align-items: stretch;
        flex-direction: column;
    }
    .cart-card img{
        height: 9rem;
        width: 100%;
    }
    .cart-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart-content{
        align-items: center;
    }
    .cart-actions{
        flex-direction: column;
        align-items: center;
    }
    .cart-details {
        align-items: center;
    }
    .cart-quantity{
        flex-direction: row;
    }
    .remove-btn img{
        width: 1.3rem;
        height: 1.2rem;
    }

    .sidebar-wrapper{
        width: 100%;
        max-width: 100%;

    }
}