/*=====================
Global Styling
=======================
*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#3c2a21;
    --seconadry-color:#f5ebe0;
    --tertiary-color:#7b7675;
    --standard-color:#fff8f6;

    --font-main:"Inter",serif;
    --font-weight-main:700;
    ---font-weight-minor:500;
    --font-heading:'Poppins',serif;
    --font-logo:"Cormorant Garamond", Garamond, "Times New Roman", serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

body{
    font-family: var(--font-main);
    line-height: 1.6;
    background-color: var(--standard-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
    border: none;
    align-items: center;
    padding: 2rem 0 2.3rem;
    background-color: var(--primary-color);
    color: var(--standard-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3{
    font-family: var(--font-main);
    font-weight: var(---font-weight-main);
}
h4,h4,h6{
    font-family: var(--font-heading);
    font-family: var(---font-weight-minor);
    font-size: 1.3rem;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

main{
    flex: 1;
}

ul{
    list-style: none;
}


/*==================
   Index styling
===================*/

/* hero-section */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--seconadry-color);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    gap: .3rem;
}
.logo img{
    width: 4rem;
}
.logo span{
    font-family: var(--font-logo);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 700;
    color: var(--primary-color);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.nav-items a{
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-weight: var(---font-weight-minor);
    position: relative;
}
.nav-items a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom-left ;
    transition: transform .3s ease;
    transform: scaleX(0);
}
.nav-items a:hover::after{
    transform: scaleX(1);    
}
.cart{
    display: flex;
    align-items: center;
    margin-right: 2.1rem;
    cursor: pointer;
}
.cart img{
    width: 1.4rem;
}